<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>野球人の軌跡</title>

  <%= stylesheet_link_tag 'top_page_index', :media => "all" %>
</head>
<body>
  <header>
    <h1>野球人の軌跡</h1>
    <p class="welcome">ようこそ、<%= current_user.name %>さん！</p>
  </header>

  <main>
    <section class="profile">
      <h2><%= current_user.name %>さんの軌跡</h2>
    </section>

    <section class="stats">
      <table>
        <tr>
          <th>日付</th>
          <th>対戦相手</th>
          <th>打数</th>
          <th>安打</th>
          <th>球数</th>
          <th>四死球</th>
          <th>打率</th>
        </tr>
        <% @statuses.each do |status| %>
        <tr>
          <td><%= status.date %></td>
          <td><%= status.opponent %></td>
          <td><%= status.at_bats %></td>
          <td><%= status.hits %></td>
          <td><%= status.pitches %></td>
          <td><%= status.walks %></td>
          <td><%= status.batting_average %></td>
        </tr>
        <% end %>
      </table>
    </section>
  </main>
  <%= link_to 'グループ作成', groups_path, class: "link" %>
  <%= link_to 'グループに参加', new_membership_path, class: "link" %>

</body>
</html>
