<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
  <h1>Edit Status for <%= @group.name %></h1>

  <ul id="members-list">
    <% @members.each do |group_user| %>
      <li class="member-name">
        <%= group_user.user.name %>
        <%= form_with(model: Status.find_by(user: group_user.user, group: @group), local: true) do |form| %>

          <div class="field">
            <%= form.label :date %>
            <%= form.date_field :date %>
          </div>

          <div class="field">
            <%= form.label :opponent %>
            <%= form.text_field :opponent %>
          </div>

          <div class="field">
            <%= form.label :at_bats %>
            <%= form.number_field :at_bats %>
          </div>

          <div class="field">
            <%= form.label :hits %>
            <%= form.number_field :hits %>
          </div>

          <div class="field">
            <%= form.label :batting_average %>
            <%= form.number_field :batting_average, step: 0.01 %>
          </div>


          <div class="field">
            <%= form.label :pitches %>
            <%= form.number_field :pitches %>
          </div>

          <div class="field">
            <%= form.label :walks %>
            <%= form.number_field :walks %>
          </div>

          <div class="actions">
            <%= form.submit %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>

  <a href="<%= group_path(@group) %>" id="back-link">Back</a>
</body>
</html>
