<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
  <h1>Edit Status for <%= @group.name %></h1>

  <%= form_with(model: @group, local: true, html: { class: "group-form" }) do |form| %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Opponent</th>
          <th>At Bats</th>
          <th>Hits</th>
          <th>Batting Average</th>
          <th>Pitches</th>
          <th>Walks</th>
        </tr>
      </thead>
      <tbody>
        <%= form.fields_for :statuses do |status_form| %>
          <% status = status_form.object %>
          <tr>
            <td><%= status.user.name %></td>
            <td><%= status_form.date_field :date %></td>
            <td><%= status_form.text_field :opponent %></td>
            <td><%= status_form.number_field :at_bats %></td>
            <td><%= status_form.number_field :hits %></td>
            <td><%= status_form.number_field :batting_average, step: 0.01 %></td>
            <td><%= status_form.number_field :pitches %></td>
            <td><%= status_form.number_field :walks %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="actions">
      <%= form.submit "Submit", class: "submit-button" %>
    </div>
  <% end %>

  <a href="<%= group_path(@group) %>" id="back-link">Back</a>
</body>
</html>
