<!DOCTYPE html>
<html>
<head>
  <title>Groups</title>
  <%= stylesheet_link_tag 'groups_index', :media => "all" %>
</head>

<body>
  <h1>Groups</h1>

  <%= link_to 'New Group', new_group_path %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.name %></td>
          <td><%= link_to 'Show', group %></td>
          <% if group.group_users.find_by(user: current_user)&.creator %>
            <td><%= link_to 'Edit', edit_group_path(group) %></td>
            <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>
