<%= stylesheet_link_tag 'groups_new', :media => "all" %>


<h1 class="title">New Group</h1>

<%= form_with(model: @group, local: true, html: { class: "group-form" }) do |form| %>
  <div class="field">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input" %>
  </div>

  <%= form.fields_for :status do |status_form| %>
    <%= status_form.hidden_field :user_id, value: current_user.id %>
  <% end %>

  <div class="actions">
    <%= form.submit "Submit", class: "submit-button" %>
  </div>
<% end %>

<%= link_to 'Back', groups_path, class: "back-link" %>
