<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'groups_show', :media => "all" %>
</head>
<body>
  <h1 id="group-name"><%= @group.name %></h1>

  <p>Your group's UUID is: <span id="group-uuid"><%= @group.uuid %></span></p>

  <h2>Members</h2>
  <ul id="members-list">
    <% @members.each do |group_user| %>
      <li class="member-name"><%= group_user.user.name %></li>
    <% end %>
  </ul>

  <a href="<%= groups_path %>" id="back-link">Back</a>
</body>
</html>

  
